/*----------------UNIVERSAL STYLING---------------*/
body {
  margin: 0;
  padding: 0;
  background-image: url("/imgs/african women playing chess.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
  z-index: 0; 
  height: 100vh;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: space-around;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.element {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  border-radius: 10px;
}

.address {
  color: #fff;
  margin-left: 20px;
  white-space: nowrap;
}

h3 {
  font-size: 20px;
  color: #CD4C0E;
  text-align: center;
}

p {
  color: #fff;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

/* -----------HEADER & NAVBAR (Section1)----------------*/
header {
  background-color: rgba(123, 59, 42, 0.8); /* Update the background color with desired opacity */
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo a {
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #000;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 10px;
}

.nav-links li:not(:last-child) {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #FDF8ED;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/

/*-------------------SECTION 1--------------*/

.section-1 {
  background-image: url("/imgs/african_women_playing_chess.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.layer1 {
  display: flex;
  padding: 20px; /* Adjust the padding as needed */
  justify-content:space-between;
}

.layer2 {
  background-color: rgba(39, 40, 41, 0.7);
  display: flex;
  align-self: center;
}

.content2{
  display: flex;
  flex-direction: column;
  
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin-bottom: 10px;
}

h4 {
  color: #CD4C0E;
}

.p1 {
  color: #fff;
}

.p2 {
  color: #CD4C0E;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------SECTION 2---------------------*/
.section-2 {
  background-image: url("/imgs/bg\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-navbar {
  background-color: rgba(123, 59, 42, 0.8); /* Update the background color with desired opacity */
  padding: 10px;
  text-align: center;
}

.section-heading {
  color: #FFF;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.mini-heading {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.element1 {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  color: #fff;
  margin-top: 150px;
}

.element2 {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

.paragraph-style{
  color: #D7914B;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*----------------SECTION 3---------------*/
.section-3 {
  background-image: url("/imgs/african\ tech\ exposure.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section3-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section3-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section3-container1 {
  width: 40%;
}

.sites {
  background-color: rgba(39, 40, 41, 0.7);
  display: flex;
  flex-direction: column;
}

.sponsor-btn {
  background-color: #AB420F;
  border-radius: 20px;
  border: none;
  font-size: 18px;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------SECTION 4---------------*/
.section-4 {
  background-image: url("/imgs/contact\ us\ bg\ picture.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section4-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us {
  background-color: rgba(39, 40, 41, 0.7);
  padding: 10px;
  border-radius: 20px;
  width: 20%;
  margin: 0 auto;
 
}

.about-us-heading {
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.contact-form {
  padding-left: 80px;
  padding-top: 40px;
  border-radius: 10px;
  margin-top: 30px;
  text-align: left;
}


.contact-form h2 {
  color: #fff;
  font-size: 20px;
}

.contact-form form {
  display: grid;
  gap: 10px;
}

.contact-form label {
  color: #fff;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form textarea {
  border-radius: 10px;
  padding: 5px;
  border: none;
  width: 140%;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button[type="submit"] {
  background-color: #C9823D;
  color: #003142;
  font-weight: bolder;
  font-size: large;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 150px;
}

.drop-message {
  color: #003142;
  font-weight: bolder;
  font-size: larger;
}

footer {
  text-align: right;
  margin-top: 30px;
  color: #fff;
  margin-top: 110px;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/



