/* styles.css */
body {
  margin: 0;
  padding: 0;
  background-image: url("/imgs/african women playing chess.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; /* Add this line */
  z-index: 0; /* Add this line */
  height: 100vh;
}

header {
  background-color: rgba(123, 59, 42, 0.8); /* Update the background color with desired opacity */
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo a {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 10px;
}

.nav-links li:not(:last-child) {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #FDF8ED;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(123, 59, 42, 0.8); /* Update the background color with desired opacity */
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.section-1 {
  background-image: url("/imgs/african_women_playing_chess.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-2 {
  background-image: url("/imgs/section2_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-3 {
  background-image: url("/imgs/section3_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.section-2 {
  background-image: url("/imgs/bg\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-3 {
  background-image: url("/imgs/african\ tech\ exposure.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-4 {
  background-image: url("/imgs/contact\ us\ bg\ picture.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-navbar {
  background-color: rgba(123, 59, 42, 0.8); /* Update the background color with desired opacity */
  padding: 10px;
  text-align: center;
}

.section-heading {
  color: #FFF;
}

/* Add this code to your styles.css file */

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.mini-heading {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.about-us {
  background-color: rgba(39, 40, 41, 0.7);
  padding: 10px;
  border-radius: 20px;
  width: 20%;
  margin: 0 auto;
 
}

.about-us-heading {
  color: #fff;
  font-size: 22px;
  text-align: center;
}

 h3 {
  font-size: 20px;
  color: #CD4C0E;
  text-align: center;
}

.element1 {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  color: #fff;
  margin-top: 150px;
}

.element2 {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

.paragraph-style{
  color: #D7914B;
}

.element {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  border-radius: 10px;
}

.sites {
  background-color: rgba(39, 40, 41, 0.7);
  display: flex;
  flex-direction: column;
}

.contact-form {
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  text-align: left;
}

.contact-form h2 {
  color: #fff;
  font-size: 20px;
}

.contact-form form {
  display: grid;
  gap: 10px;
}

.contact-form label {
  color: #fff;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form textarea {
  border-radius: 10px;
  padding: 5px;
  border: none;
  width: 180%;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button[type="submit"] {
  background-color: #C9823D;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin-bottom: 10px;
}

.address {
  color: #fff;
  margin-left: 20px;
  white-space: nowrap;
}

footer {
  text-align: right;
  margin-top: 30px;
  color: #fff;
  margin-top: 110px;
}

.section4-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

