/*----------------UNIVERSAL STYLING---------------*/
body {
  margin: 0;
  padding: 0;
  background-image: url("/imgs/african women playing chess.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
  z-index: 0; 
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to bottom), #003142 0%, #003142 100%;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: space-around;
}

.element {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  border-radius: 30px;
  padding: 40px;
}

h3 {
  font-size: 20px;
  color: #CD4C0E;
  text-align: center;
}

p {
  color: #fff;
  font-weight: bold;
}

/*------------------------------------------------------------------------------------------------------------------------------*/

/* -----------HEADER & NAVBAR (Section1)----------------*/
header {
  background-color: rgba(123, 59, 42, 0.8);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  color: #000;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 10px;
}

.nav-links li:not(:last-child) {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover {
  color: #CD4C0E;
}

.header-logo {
  display: none;
} 

/*-----------------------------------------------------------------------------------------------------------------------------*/

/*-------------------SECTION 1--------------*/

.section-1 {
  background-image: url("/imgs/african_women_playing_chess.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.layer1 {
  display: flex;
  padding: 20px; /* Adjust the padding as needed */
  justify-content:space-between;
}

.layer2 {
  background-color: rgba(39, 40, 41, 0.7);
  display: flex;
  align-self: center;
  padding-top: 8px;
  padding-bottom: 50px;
  padding-left: 140px;
  padding-right: 80px;
  margin-right: 140px;
  margin-bottom: 50px;
}

.content2{
  display: flex;
  flex-direction: column;
  
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin-bottom: 10px;
}

h4 {
  color: #CD4C0E;
}

.p1 {
  color: #fff;
}

.p2 {
  color: #CD4C0E;
}

.address-section1 {
  display: flex;
  justify-content: space-around;
  color: #fff;
  text-align: left;
}

.contact-btns-section1 {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: none;
  background:  rgba(27, 28, 29, 0.8);
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 28px;
  margin-right: -10%; 
}

.carousel {
  /*background-color: rgba(39, 40, 41, 0.7);*/
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 40%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-button-prev , .swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------SECTION 2---------------------*/
.section-2 {
  background-image: url("/imgs/bg\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-navbar {
  background-color: rgba(123, 59, 42, 0.8); /* Update the background color with desired opacity */
  padding: 10px;
  text-align: center;
}

.section-heading {
  color: #FFF;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.mini-heading {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.container1 {
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}

.container2 {
  width: 30%; 
  padding: 20px;
}

.container3 {
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}

.element1 {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  color: #fff;
  margin-top: 100px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70%;
  margin-left: 70px;
}

.element2 {
  background-color: rgba(39, 40, 41, 0.7);
  text-align: center;
  color: #fff;
  margin-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
}

.paragraph-style{
  color: #D7914B;
}

.carousel-element {
  text-align: center;
  border-radius: 30px;
  padding: 40px;
  margin-top: 160px;
}

.wrapper .outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .card{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 95px;
  padding-bottom: 55px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .card{
  animation-play-state: paused;
}
.wrapper .card:last-child{
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
.card .content{
  display: flex;
  align-items: center;
}
.wrapper .card .img{
  height: 20vh;
  width: 140%;
  position: absolute;
  left: -15px;
  background:  rgba(27, 28, 29, 0.7);
  border-radius: 20%;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.card .img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card .details{
  margin-left: 80px;
}
.details span{
  font-weight: 600;
  font-size: 18px;
}
.card a{
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.2s ease;
}
.card a:hover{
  transform: scale(0.94);
}

.joystick-mb, .carousel-mb {
  display: none;
}

.address-section2-mb {
  display: none;
} 

.section-2a-mb{
  display: none;
}

.section-2b-mb{
  display: none;
}

.section-2c-mb {
  display: none;
}

.address-section-2b {
  display: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/

/*----------------SECTION 3---------------*/
.section-3 {
  background-image: url("/imgs/african\ tech\ exposure.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-3-mb {
  display: none;
}

.section3-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 80px;
}
.section3-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section3-container1 {
  width: 20%;
}

.section3-container2 {
  justify-content: space-between;
  margin-top: 340px;
}

.section3-container3 {
  width: 20%;
}

.sites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sponsor-btn {
  background-color: #AB420F;
  border-radius: 20px;
  border: none;
  font-size: 18px;
}

.site-btns {
  border-radius: 20px;
  border: none;
  background:  rgba(27, 28, 29, 0.7);
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------SECTION 4---------------*/
.section-4 {
  background-image: url("/imgs/contact\ us\ bg\ picture.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section4-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us {
  background-color: rgba(39, 40, 41, 0.7);
  padding: 10px;
  border-radius: 20px;
  width: 20%;
  margin: 0 auto;
 
}

.about-us-heading {
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.contact-form {
  padding-left: 80px;
  padding-top: 40px;
  border-radius: 10px;
  margin-top: 30px;
  text-align: left;
}


.contact-form h2 {
  color: #fff;
  font-size: 20px;
}

.contact-form form {
  display: grid;
  gap: 10px;
}

.contact-form label {
  color: #fff;
}

.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form textarea {
  border-radius: 10px;
  padding: 5px;
  border: none;
  width: 140%;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button[type="submit"] {
  background-color: #C9823D;
  color: #003142;
  font-weight: bolder;
  font-size: large;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 150px;
}

.drop-message {
  color: #003142;
  font-weight: bolder;
  font-size: larger;
}

.footer-btm {
  text-align: right;
  margin-top: 30px;
  color: #fff;
  margin-top: 110px;
  padding-right: 20px;
}

.address-section4 {
  display: flex;
  color: #fff;
  white-space: nowrap;
  background-color: rgba(39, 40, 41, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-right: 45px;
  text-align: center;
}

.contact-btns-section4 {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: none;
  background:  rgba(27, 28, 29, 0.8);
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 130px;
}

.section-4-mb {
  display: none;
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


/*-------MOBILE VERSION--------*/

@media (max-width: 767px) {

  /*---------------------------SECTION 1 -------------------------------*/

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px; /* Adjust the width as needed */
    padding: 10px;
    background:  rgba(27, 28, 29, 0.8);/* Optional: Add a background color */
    z-index: 9999; /* Optional: Adjust the z-index as needed */
  }
    
  .navbar .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar .nav-links li {
    padding: 10px;
  }
  
  .logo {
    display: none;
  }

  header{
    background: none;
  }

  .header-logo a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 28px;
  }

  .header-logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 40%;
  }

  .section-1 {
    position: relative;
    padding-right: 120px; /* Adjust the value to accommodate the width of the navbar */
    display: flex;
    flex-direction: column-reverse;
  }

  .content1 .p1 {
    margin-bottom: 180px; /* Adjust the value as needed */
  }
  
  .p1 {
    text-align: center;
    width: 260px;
    color: #E4B269;
    background:  rgba(27, 28, 29, 0.8);
  }

  .p2, .p3 {
    color: #000;
  }
  .p2-p3 {
    text-align: left;
    background: rgba(171, 66, 15, 0.5);
  }

  .layer2 {
    background: none;
  }

  .content1 h4 {
    display: none;
  };
    
  .organizational-andito {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 28px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .layer1 {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .layer2 {
    padding: 10px;
    margin-right: 0;
    text-align: center;
  }

  .address-section1 {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }

  .contact-btns-section1 {
    margin-right: 0;
  }

  .container1,
  .container2,
  .container3 {
    margin-top: 50px;
  }

  .carousel {
    width: 60%;
    height: auto;
  }

  .swiper {
    width: 100%; /* Adjust the width as needed */
  }

  .address-section1,
  .contact-btns-section1 {
    display: none; /* Hide the address and contact buttons */
  }

  .content2 {
    display: none;
  }

/*---------------------------SECTION 2 -------------------------------*/

  /*-----2a-------*/
  .section-2 {
    display :none;
  }

  .section-2a-mb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/imgs/bg\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  }
  
  .container1, .container3 {
    display: none;
  }

  .paragraph-section {
    background: #E4B269;
    color: #000;
    text-align: left;
    width: 75%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
  }

  .paragraph-section p{
    background: #E4B269;
    color: #000;
    margin-left: 10px;
  }
  
  .mid-section {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
  }

  .joystick-mb {
    display: flex;
  }

  .carousel-mb {
    display: flex;
    width: 120%;
  }

  .address-section2-mb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .address-section-2a {
   display: flex;
   align-self: right;
   background-color: rgba(39, 40, 41, 0.7);
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
  }

    /*-----2b-------*/
  .section-2b-mb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/imgs/bg\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  }

  .rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .row1-content {
    display: flex;
    margin-top: -5%;
  }

  .row2-content {
    background-color: rgba(39, 40, 41, 0.7);
    text-align: center;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    margin-left: 70px;
    margin-top: 20% ;
  }
  
  .address-section-2b {
    display: flex;
    width: 70%;
    margin-left: 35%;
  }

  .carousel-element {
    text-align: center;
    border-radius: 30px;
    padding: 40px;
  }
  
  .wrapper .outer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .card{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 55px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    justify-content: space-between;
    border-radius: 100px 20px 20px 100px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));
  }
  .outer:hover .card{
    animation-play-state: paused;
  }
  .wrapper .card:last-child{
    animation-delay: calc(-3s * var(--delay));
  }
  @keyframes animate {
    0%{
      opacity: 0;
      transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
      opacity: 0.4;
      transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0%) scale(1);
    }
    45%, 60%{
      opacity: 0.4;
      transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
      opacity: 0;
      transform: translateY(-100%) scale(0.5);
    }
  }
  .card .content{
    display: flex;
    align-items: center;
  }
  .wrapper .card .img{
    height: 10vh;
    width: 70%;
    position: absolute;
    left: -15px;
    background:  rgba(27, 28, 29, 0.7);
    border-radius: 20%;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }
  .card .img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card a{
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
    transition: all 0.2s ease;
  }
  .card a:hover{
    transform: scale(0.94);
  }

    /*-----2b-------*/
  .section-2c-mb{
    display: flex;
    flex-direction: column;
    background-image: url("/imgs/bg\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .whole-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .first-section p{
    color: #C9823D;
  }

  .address-section-2c {
    display: flex;
    text-align: left;
  }

  .carousel {
    width: 50%;
  }

/*--------------------------SECTION 3------------------------------*/
  .section-3 {
    display: none;
  }
  
  .section-3-mb {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("/imgs/african\ tech\ exposure.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .about-us {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-us-heading {
    font-weight: 100;
    font-size:large;
  }

  .flex-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .first-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
  }

  .second-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
  }

  .placeholder {
    width: 10%;
  }

  .left{
    background-color: rgba(39, 40, 41, 0.7);
    text-align: center;
    border-radius: 30px;
  }

  .right {
    background-color: rgba(39, 40, 41, 0.7);
    text-align: center;
    border-radius: 30px;
  }

/*--------------------------SECTION 4------------------------------*/
  .section-4 {
    display: none;
  }

  .section-4-mb {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("/imgs/contact\ us\ bg\ picture.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  }

  .top-row {
    display: flex;
    justify-content: space-between;
  }

  .address-section-4-mb {
    display: flex;
    background:  rgba(27, 28, 29, 0.8);
  }

  .left-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .right-flex {
    display: flex;
    flex-direction: column;
  }

  .contact-btns-section4-mb {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: none;
    background:  rgba(27, 28, 29, 0.8);
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 10px;
  }

  .contact-form {
    border-radius: 10px;
    text-align: left;
  }
  
  
  .contact-form h2 {
    color: #fff;
    font-size: 20px;
  }
  
  .contact-form form {
    display: grid;
    gap: 10px;
  }
  
  .contact-form label {
    color: #fff;
  }
  
  .contact-form input[type="email"],
  .contact-form input[type="text"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    border-radius: 10px;
    padding: 5px;
    border: none;
    width: 75%;
  }
  
  .contact-form textarea {
    height: 60px;
  }
  
  .contact-form button[type="submit"] {
    background-color: #C9823D;
    color: #003142;
    font-weight: bolder;
    font-size: large;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 100px;
  }
  
  .drop-message {
    color: #003142;
    font-weight: bolder;
    font-size: larger;
  }
  
  .footer-btm {
    text-align: center;
    margin-top: 30px;
    color: #fff;
    padding-right: 20px;
  }
}
